/*
    Este arquivo é parte de Flor de Lis

    Copyright © 2023 Heloísa Real, Thiago Baptista, Mateus Vieira

    Este programa é um software livre; você pode redistribuí-lo e/ou
    modificá-lo sob os termos da Licença Pública Geral GNU como publicada
    pela Free Software Foundation; na versão 3 da Licença, ou
    (a seu critério) qualquer versão posterior.

    Este programa é distribuído na esperança de que possa ser útil,
    mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO
    a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a
    Licença Pública Geral GNU para mais detalhes.

    Você deve ter recebido uma cópia da Licença Pública Geral GNU junto
    com este programa. Se não, veja <http://www.gnu.org/licenses/>.

    Licença disponível no arquivo COPYING.txt
*/

@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");

:root {
  --black: rgba(003, 003, 003);
  --white: rgba(255, 255, 255);
  --rosa-claro: rgba(255, 217, 220);
  --rosa-escuro: rgba(202, 137, 143);
  --verde-camomila: rgba(148, 174, 137);
  --vermelho-escuro: rgba(159, 57, 57);
  --cinza-escuro: rgba(029, 029, 029);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--verde-camomila);
  font-family: "Source Serif Pro", serif;
}

::selection {
  background-color: var(--rosa-claro);
  color: var(--vermelho-escuro);
}

a {
  color: var(--white);
  text-decoration: underline;
}

a:hover {
  color: var(--rosa-claro);
  text-decoration: underline;
}

svg {
  width: 3rem !important;
  color: var(--rosa-escuro);
  margin: 0.8rem;
  overflow: visible;
}

path {
  stroke: var(--vermelho-escuro);
  stroke-width: 1.3%;
  overflow: visible;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

nav a {
  text-decoration: none;
  color: var(--rosa-escuro);
  font-size: 20px;
}

nav a:hover {
  color: var(--vermelho-escuro);
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  padding-right: 50px;
}

#Logo {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 50px;
  width: 230px;
  height: 65px;
}

.text-black {
  color: var(--black) !important;
}

.strong-pink {
  color: var(--rosa-claro) !important;
  font-weight: bold;
}

.l-width {
  max-width: 3.9rem;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre h1 {
  margin-top: 50px;
  font-size: 40px;
  color: var(--white);
  text-align: center;
  font-family: "Bitter";
}

.sobre p {
  margin-top: 20px;
  max-width: 800px;
  font-size: 18px;
  color: var(--rosa-claro);
  text-align: center;
  font-family: "Poppins";
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 20%;
  overflow: hidden;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.192);
  min-width: 250px;
  margin: 15px;
  max-width: 15rem;
}

.card-group {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.card h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  font-size: 15px;
}

.card div {
  padding: 20px;
  border-radius: 20%;
}

.HomeProdutos h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  color: var(--cinza-escuro);
}

.HomeProdutos {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#img1 {
  padding-left: 50px;
  width: 700px;
  height: 900px;
  margin-top: 20px;
}

#img2 {
  padding-right: 50px;
  padding-left: 50px;
  width: 700px;
  height: 900px;
  margin-top: 20px;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  width: 100%;
}

footer h3,
footer p,
footer .social-media {
  margin-bottom: 20px;
}

footer p {
  width: 50%;
  font-size: 14px;
}

footer .social-media {
  display: flex;
}

footer .social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  padding: 8px;
  border-radius: 20px;
  margin: 0 8px;
}

footer .credits {
  background-color: var(--white);
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .credits span {
  color: var(--black);
}

.NavTitle {
  font-family: "Castoro", cursive;
  font-style: italic;
  color: var(--black) !important;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

.NavSTitle {
  font-size: 1rem;
  font-size: "Bitter", cursive;
  word-break: keep-all;
  white-space: nowrap;
  margin-left: 50% !important;
  margin: 0;
}

.title {
  padding-top: 20px;
  text-align: center;
  color: var(--white);
  margin: 10px;
}

.title h1 {
  font-size: 50px;
  font-family: "Bitter", cursive;
  margin-bottom: 7px;
}

.title p {
  font-size: 20px;
  color: var(--rosa-claro);
  font-family: Poppins;
}

.sub-title {
  padding-top: 20px;
  text-align: center;
  color: var(--white);
  margin: 10px;
  font-size: 50px;
  font-family: Bitter;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 53vh;
}

.login div,
.login form {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.login input {
  border: 0px;
  margin-top: 20px;
  height: 40px;
  border-radius: 20px;
}

.login input::placeholder {
  font-size: 20px;
  text-align: center;
}

.login h1 {
  margin-top: 50px;
  font-size: 50px;
  color: var(--cinza-escuro);
}

.LoginBtn {
  margin-top: 20px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: var(--black);
  color: var(--rosa-escuro);
  font-size: 20px;
  cursor: pointer;
}
